.container{
    display: flex;
    justify-content: center;
}


.form{
    height: fit-content;
    width:fit-content;
    border: solid black 2px;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
}

.size{
    width: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
span{
    color: red;
}